@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Spline+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spline+Sans&display=swap");
@media screen and (max-width: 576px) {
  .contenedor__caja2--centrar .contenedor__texto {
    margin-bottom: 400px;
  }
}

#particles-js {
  margin-right: 500px;
}

.bgcolor {
  background-color: #26023D;
  color: white;
}

.logo img {
  height: 47px;
  width: 52px;
}

.logo {
  font-size: 35px;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.logo:hover {
  font-size: 23px;
}

#boton--secprincipal {
  -webkit-transition: all 2s;
  transition: all 2s;
}

#boton--secprincipal:hover {
  cursor: -webkit-grab;
  cursor: grab;
  font-size: 33px;
  z-index: 99;
  position: relative;
}

.centrar {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99;
  position: relative;
}

.contenedor__caja--tamaño {
  width: 500px;
  opacity: 70%;
  z-index: 99;
}

.contenedor__texto {
  color: #fff;
  z-index: 99;
  position: relative;
  background-color: #26023D;
}

/* Contacto-inicio */
@media screen and (max-width: 576px) {
  .contacto__form {
    margin-top: 10%;
  }
}

.colorCollapse {
  background-color: #000;
  color: #fff;
}

body {
  background-color: #10011a;
  color: #e2b8fd;
}

#particles-js {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

.contacto__form {
  width: 450px;
  margin: auto;
  background-color: #26023D;
  opacity: 70%;
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 7%;
  border-radius: 7px;
  font-family: 'Spline Sans', sans-serif;
  z-index: 99;
}

.contacto__titulo {
  color: white;
  text-align: center;
  margin: auto;
  font-size: 30px;
  margin-bottom: 10px;
}

input,
textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 17px;
  border: none;
  z-index: 99;
  position: relative;
}

textarea {
  min-height: 200px;
  min-width: 100px;
  max-width: 100%;
}

#boton {
  background-color: #13011f;
  color: white;
  padding: 20px;
  -webkit-transition: all 2s;
  transition: all 2s;
}

#boton:hover {
  cursor: pointer;
  background-color: #190525;
}

/* contacto-Fin */
/* Seccion Trabajos-Inicio */
@media only screen and (max-width: 576px) {
  .trabajos__grid, img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    gap: 10px;
  }
  .carrusel-tamaño {
    width: 400px;
  }
  .carousel-inner, img {
    width: 300px;
    height: 400px;
  }
}

.carrusel-tamaño {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel-inner img {
  margin-top: 7%;
  width: 600px;
  height: 400px;
  z-index: 99;
  border: 2px solid #fff;
  border-radius: 7px;
}

.trabajos__encabezado {
  font-family: sans-serif;
  margin-top: 100px;
}

.trabajos__parrafo {
  text-align: center;
}

#seccionTrabajos h2 {
  text-align: center;
}

.trabajos__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-grid-rows: 450px 450px;
      grid-template-rows: 450px 450px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

.trabajos__img {
  height: 450px;
  width: 320px;
  border: solid 2px white;
  border-radius: 7px;
  -webkit-transition: all 2s;
  transition: all 2s;
  position: relative;
  z-index: 99;
}

.trabajos__img:hover {
  cursor: pointer;
  height: 460px;
  width: 330px;
}

#seccionTrabajos p {
  font-size: 20px;
}

@media screen and (max-width: 576px) {
  .contenedor__conocimientos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .conocimientos__parrafo {
    width: 400px;
  }
  .carrusel-conocimientos {
    width: 400px;
  }
}

/* Seccion conocimientos-Inicio */
html {
  scroll-behavior: smooth;
}

.container-fluid h1 {
  margin-top: 100px;
  text-align: center;
}

.conocimientos__parrafo {
  color: #fff;
  border: 1px solid white;
  border-radius: 7px;
  background-color: #26023D;
  z-index: 99;
}

.contenedor__conocimientos {
  margin-top: 40px;
  margin-left: 30px;
  width: 600px;
  opacity: 70%;
}

.carrusel-conocimientos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99;
  position: relative;
}

footer {
  position: absolute;
  bottom: 100;
  left: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 99;
  color: white;
  background-color: #110114;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#23012b), to(black));
  background-image: linear-gradient(#23012b, black);
}

.copyright-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.copyright {
  font-size: 12px;
  opacity: 0.7;
  font-weight: 400;
  padding: 10px 0;
}

.footer-menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 40%;
}

.footer-container {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  padding: 3rem 6rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .website-logo {
  margin-bottom: 1.2rem;
  font-size: calc(1vw + 20px);
}

.footer-info, .menu-item-footer {
  margin: 0.2rem 0;
  opacity: 0.7;
  color: white;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu-item-footer:hover {
  opacity: 1;
}

.menu-title {
  font-size: var(--medium-text-font);
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

.social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  width: 100%;
}

.social-link {
  height: 100%;
  width: 30px;
  background-image: url(../Imagenes/InstagramBlanco.png);
  background-size: 70%;
  background-position: center;
  margin-right: 1rem;
  background-repeat: no-repeat;
}

.social-link:hover {
  opacity: 0.7;
}

footer .social-link:nth-of-type(2) {
  background-image: url(../TwitterBlanco.png);
}

footer .social-link:nth-of-type(3) {
  /*Nth of type inside that container*/
  background-image: url(../Imagenes/LinkedinBlanco.png);
}

/*MEDIA QUERY*/
@media (max-width: 768px) {
  .footer-container {
    padding: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-content-container {
    width: 100%;
    padding: 2rem 0;
    border-bottom: 1px solid #2A2A2A;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-content-container:nth-of-type(1) {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer-content-container:nth-of-type(3) {
    border-bottom: none;
    padding-bottom: 0;
  }
  .footer-menus {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border-bottom: 1px solid #2A2A2A;
  }
  .footer-menus .footer-content-container:nth-of-type(1) {
    width: 45%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border-bottom: none;
  }
  .footer-menus .footer-content-container:nth-of-type(2) {
    width: 45%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border-bottom: none;
  }
}

#particles-js {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -1;
}

.titulo {
  color: #fff;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Spline Sans', sans-serif;
  color: #e2b8fd;
}

nav {
  background-color: #110114;
}

.colorCollapse {
  background-color: #000;
}

.bgcolor {
  background-color: #10011a;
  color: #e2b8fd;
}

#boton {
  background-color: #000;
  color: #fff;
  padding: 20px;
  -webkit-transition: all 2s;
  transition: all 2s;
}

#boton:hover {
  cursor: pointer;
  color: #e2b8fd;
  background-color: #000;
}

/* Pagina Principal-fin */
/* Seccion Sobremi-Inicio */
@media screen and (max-width: 576px) {
  .contenedor__sobremi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .sobremi__parrafo {
    width: 400px;
  }
}

.sobremi__encabezado {
  text-align: center;
  margin-top: 35px;
  font-family: sans-serif;
}

.sobremi__parrafo {
  color: #fff;
  border: 1px solid white;
  border-radius: 7px;
  background-color: #26023D;
  z-index: 99;
}

.contenedor__img {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  z-index: 99;
}

.contenedor__sobremi {
  margin-top: 40px;
  margin-left: 30px;
  width: 800px;
  opacity: 70%;
}

.sobremi__img {
  width: 450px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 1px solid #fff;
}

#seccionSobremi h3 {
  display: inline;
}
/*# sourceMappingURL=estilos.css.map */