@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Spline+Sans&display=swap");
@media screen and (max-width: 576px) {
  .contenedor__caja2--centrar .contenedor__texto {
    margin-bottom: 400px;
  }
}

#particles-js {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

.bgcolor {
  background-color: #26023D;
  color: white;
}

#boton--secprincipal {
  -webkit-transition: all 2s;
  transition: all 2s;
}

#inicio {
  background-image: url(Imagenes/fondo.jpg);
}

#boton--secprincipal:hover {
  cursor: -webkit-grab;
  cursor: grab;
  font-size: 33px;
}

.centrar {
  height: 95vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor__caja--tamaño {
  width: 500px;
  z-index: 99;
}

.contenedor__texto {
  text-align: center;
  margin-top: 35px;
  font-family: sans-serif;
}

/* Contacto-inicio */
@media screen and (max-width: 576px) {
  .contacto__form {
    margin-top: 10%;
  }
}

body {
  background-color: #26023D;
  color: #e2b8fd;
}

#particles-js {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

.contacto__form {
  width: 450px;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6%;
  border-radius: 7px;
  font-family: 'Spline Sans', sans-serif;
  z-index: 99;
}

.contacto__titulo {
  color: white;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
}

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 17px;
  border: none;
}

textarea {
  min-height: 200px;
  min-width: 100px;
  max-width: 100%;
}

#boton {
  background-color: #26023D;
  color: white;
  padding: 20px;
  -webkit-transition: all 2s;
  transition: all 2s;
}

#boton:hover {
  cursor: pointer;
  background-color: #26023D;
}

footer {
  height: 7em;
  background-color: #110114;
  margin-top: 5em;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#23012b), to(black));
  background-image: linear-gradient(#23012b, black);
}

/* contacto-Fin */
/* Seccion Trabajos-Inicio */
@media only screen and (max-width: 576px) {
  .trabajos__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .carrusel-tamaño {
    width: 400px;
  }
  .carousel-inner img {
    width: 300px;
    height: 400px;
  }
}

.carrusel-tamaño {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel-inner img {
  margin-top: 10%;
  width: 600px;
  height: 400px;
}

.trabajos__encabezado {
  font-family: sans-serif;
  margin-top: 100px;
}

.trabajos__parrafo {
  text-align: center;
}

#seccionTrabajos h2 {
  text-align: center;
}

.trabajos__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 450px 450px;
      grid-template-rows: 450px 450px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

.trabajos__img {
  height: 450px;
  width: 320px;
  border: solid 2px white;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.trabajos__img:hover {
  cursor: pointer;
  height: 460px;
  width: 330px;
}

#seccionTrabajos p {
  font-size: 20px;
}

/* Seccion conocimientos-Inicio */
p {
  color: #fff;
}

.conocimientos__parrafo {
  margin-left: 30px;
}

.carrusel-conocimientos {
  margin-left: 60%;
}

.tamaño img {
  width: 550px;
  height: 30%;
}

#seccionConocimientos h2 {
  text-align: center;
  margin-top: 35px;
  font-family: sans-serif;
}

h2 {
  text-align: center;
  margin-top: 35px;
  font-family: sans-serif;
}

footer {
  height: 7em;
  background-color: #110114;
  margin-top: 5em;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#23012b), to(black));
  background-image: linear-gradient(#23012b, black);
}

#particles-js {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -1;
}

.titulo {
  color: #fff;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Spline Sans', sans-serif;
  color: #e2b8fd;
}

nav {
  background-color: #110114;
}

.colorCollapse {
  background-color: #110114;
}

.bgcolor {
  background-color: #26023D;
  color: #e2b8fd;
}

#boton {
  background-color: #110114;
  color: #fff;
  padding: 20px;
  -webkit-transition: all 2s;
  transition: all 2s;
}

#boton:hover {
  cursor: pointer;
  color: #e2b8fd;
  background-color: #26023D;
}

/* Pagina Principal-fin */
/* Seccion Sobremi-Inicio */
@media screen and (max-width: 576px) {
  #seccionSobremi {
    margin-top: 400px;
  }
  .contenedor__sobremi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .sobremi__parrafo {
    width: 450px;
  }
}

.sobremi__encabezado {
  text-align: center;
  margin-top: 35px;
  font-family: sans-serif;
}

.contenedor__img {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedor__sobremi {
  margin-left: 30px;
  width: 800px;
}

.sobremi__img {
  width: 450px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 1px solid #fff;
}

#seccionSobremi h3 {
  display: inline;
}

footer {
  height: 7em;
  background-color: #110114;
  margin-top: 5em;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#23012b), to(black));
  background-image: linear-gradient(#23012b, black);
}
/*# sourceMappingURL=estilos.css.map */