/* Seccion Trabajos-Inicio */
@media only screen and (max-width: 576px) {
    .trabajos__grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }

    .carrusel-tamaño {
        width: 400px;
    }

    .carousel-inner img {
        width: 300px;
        height: 400px;
    }
}

.carrusel-tamaño {
    justify-content: center;
    align-items: center;

}

.carousel-inner img {
    margin-top: 10%;
    width: 600px;
    height: 400px;
    z-index: 99;
    border: 2px solid #fff;
    border-radius: 7px;
}

.trabajos__encabezado {
    font-family: sans-serif;
    margin-top: 100px;
}

.trabajos__parrafo {
    text-align: center;
}

#seccionTrabajos h2 {
    text-align: center;
}

.trabajos__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 450px 450px;
    justify-content: center;
    justify-items: center;
}

.trabajos__img {
    height: 450px;
    width: 320px;
    border: solid 2px white;
    border-radius: 7px;
    transition: all 2s;
    position: relative;
    z-index: 99;
}

.trabajos__img:hover {
    cursor: pointer;
    height: 460px;
    width: 330px;
}


#seccionTrabajos p {
    font-size: 20px;
}